mixin short-news(data)
	.short-news
		+short-news-item()
		+short-news-item()
		+short-news-item()

mixin short-news-list(data)
	.short-news
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()
		+short-news-item()

mixin short-news-item(data)
	.short-news__col
		a.short-news__item(href="javascript:void(0)")
			.short-news__item__top
				+svg('icon-logo')
				.short-news__item__date
					span 26 лют 14:26
				.hash-item
					span #шпіонське
			p У РНБО повідомили, що Україна «потужно» готується до настання Росії