.short-news {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    @media (max-width: $sw-md-max) {
        margin-left: -5px;
        margin-right: -5px;
    }
    @media (max-width: $sw-sm-max) {
        margin-bottom: 1rem;
    }
    @media (max-width: $sw-xs-max) {
        margin-left: 0;
        margin-right: 0;
    }
    &__col {
        width: calc(100% / 3);
        padding: 0 1rem;
        margin-bottom: 2rem;
        @media (max-width: $sw-md-max) {
            padding: 0 5px;
        }
        @media (max-width: $sw-sm-max) {
            width: 50%;
            margin-bottom: 1rem;
        }
        @media (max-width: $sw-xs-max) {
            width: 100%;
            padding: 0;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        display: block;
        background-color: $dark;
        padding: 2rem;
        transition: background-color .3s ease;
        &:hover {
            @media (min-width: $sw-sm-min) {
                background-color: lighten($dark, 10%);
            }
            p {
                @media (min-width: $sw-sm-min) {
                   color: $red;
                }
            }
        }
        .icon-logo {
            flex-shrink: 0;
            font-size: 3rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
            color: $white;
        }
        .hash-item {
            margin-right: 0;
            height: 3rem;
        }
        p {
            margin-bottom: 0;
            transition: color .3s ease;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__date, 
        &__time {
            font-size: 1.4rem;
            line-height: 1.4em;
            color: $white;
            margin-bottom: 1rem;
        }
        &__date {
            margin-right: auto;
            padding-right: 1rem;
        }
    }
}