mixin top-section(data)
	.top-section
		.top-section__col
			.top-section__item
				.top-section__date
					span понеділок 28 лют
				.top-section__count
					.top-section__count__days
						span 8
					.top-section__count__text
						span днів війни
				p huilo.info це портал новин та підтримки України у війні з Росією, країною-окупантом що вторглася і посіяла смерть і руйнацію в нашій державі.
				p Україна вистоїть, нас нічого не зламає, нашу свободу ніхто не забере!
		.top-section__col
			a.news-card(href="javascript:void(0)", data-toggle="modal" data-target="#news_modal")
				.news-card__image.h-object-fit
					img(src="s/images/useful/img.jpg", alt="image")
					.news-card__hash
						.hash-item.hash-item--dark 
							span #перемоги
				.news-card__info
					.news-card__info__top
						+svg('icon-logo')
						.news-card__info__date
							span 26 лют 14:26
					p У РНБО повідомили, що Україна «потужно» готується до настання Росії