.top-section {
    display: flex;
    align-items: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
    @media (max-width: $sw-md-max) {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    &__col {
        width: 50%;
        padding: 0 1rem;
        @media (max-width: $sw-md-max) {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0;
        }
        .news-card {
            @media (max-width: $sw-md-max) {
                width: 100%;
            }
        }
    }
    &__item {
        @media (max-width: $sw-md-max) {
            margin-bottom: 3rem;
            text-align: center;
        }
        p {
            color: $black;
            font-size: 1.6rem;
            line-height: 1.25em;
            max-width: 38rem;
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
            @media (max-width: $sw-md-max) {
                margin: 0 auto;
                max-width: 50rem;
            }
        }
    }
    &__date {
        margin-bottom: 2rem;
        font-size: 4rem;
        line-height: 1em;
        color: $white;
        @media (max-width: $sw-md-max) {
            font-size: 3.2rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 3rem;
        }
    }
    &__count {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: $sw-md-max) {
            justify-content: center;
        }
        &__days {
            font-weight: 600;
            font-size: 18rem;
            line-height: 1em;
            margin-right: 2rem;
            color: $dark;
            @media (max-width: $sw-md-max) {
                font-size: 16rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 12rem;
            }
        }
        &__text {
            text-align: left;
            font-size: 7.5rem;
            line-height: 1em;
            color: $dark;
            width: 24rem;
            @media (max-width: $sw-md-max) {
                font-size: 6.5rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 5rem;
                width: 16rem;
            }
        }
    }
}