.l-wrapper{
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-content {
	flex-grow: 1;
	display: flex;
	padding-top: 19rem;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1330px;
	margin: 0 auto;
	@media (max-width: $sw-md-max) {
		padding-top: 15rem;
	}
	@media (max-width: $sw-sm-max) {
		padding-top: 13rem;
		padding-left: 0;
		padding-right: 0;
	}
	@media (max-width: $sw-xs-max) {
		padding-top: 11rem;
	}
	&__inner {
		flex-grow: 1;
	}
	&__side {
		flex-shrink: 0;
		@media (max-width: $sw-sm-max) {
			display: none;
		}
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
		&__inner {
			position: sticky;
			top: 50%;
			font-size: 2rem;
			line-height: 1em;
			color: $white;
			@media (max-width: $sw-md-max) {
				font-size: 1.8rem;
			}
		}
		a {
			&:hover {
				@media (min-width: $sw-sm-min) {
					color: $dark;
				}
			}
		}
	}
}

a {
	transition: color .3s ease;
	font-size: 2rem;
	line-height: 1em;
	color: $white;
}

p {
	font-size: 1.8rem;
	line-height: 1.1em;
	color: $white;
	@media (max-width: $sw-xs-max) {
		font-size: 1.6rem;
	}
}

.hash-item {
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	font-size: 1.4rem;
	line-height: 1em;
	padding: 0 1rem;
	color: $red;
	font-weight: 600;
	transition: background-color .3s ease;
	margin-right: 1rem;
	margin-bottom: 1rem;
	@media (max-width: $sw-xs-max) {
		font-size: 1.2rem;
		height: 3rem;
	}
	&:hover {
		@media (min-width: $sw-md-min) {
			background-color: darken($white, 5%);
		}
	}
	&--dark {
		background-color: $dark;
		&:hover {
			@media (min-width: $sw-md-min) {
				background-color: lighten($dark, 15%);
			}
		}
	}
	&--lg {
		font-size: 1.8rem;
		@media (max-width: $sw-xs-max) {
			height: 4rem;
		}
	}
}

.limitation-box {
	flex-shrink: 0;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	line-height: 1em;
	color: $white;
	background-color: $red;
	@media (max-width: $sw-xs-max) {
		width: 3.6rem;
		height: 3.6rem;
	}
}