.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.icon-show {
	width: 1.435546875em;
}
  
.icon-logo {
	width: 0.607421875em;
}