.news {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 4rem;
    @media (max-width: $sw-md-max) {
        margin-left: -5px;
        margin-right: -5px;
    }
    @media (max-width: $sw-sm-max) {
        margin-left: 0;
        margin-right: 0;
    }
    .short-news__col {
        @media (max-width: $sw-sm-max) {
            width: 100%;
        }
    }
    &__col {
        padding: 0 1rem;
        margin-bottom: 2rem;
        width: 50%;
        @media (max-width: $sw-md-max) {
            padding: 0 5px;
            margin-bottom: 1rem;
        }
        @media (max-width: $sw-sm-max) {
            width: 100%;
            padding: 0;
        }
    }
    &-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        &:hover {
            @media (min-width: $sw-sm-min) {
                p {
                    color: $red;
                }
            }
            .news-card__info {
                @media (min-width: $sw-sm-min) {
                    background-color: lighten($dark, 10%);
                }
            }
        }
        &__image {
            width: 100%;
            height: 26rem;
            position: relative;
            @media (max-width: $sw-md-max) {
                height: 0;
                padding-bottom: 45%;
            }
        }
        &__hash {
            position: absolute;
            left: 2rem;
            bottom: 1rem;
            right: 1rem;
            display: flex;
            flex-wrap: wrap;
            z-index: 2;
            @media (max-width: $sw-xs-max) {
                left: 1rem;
                bottom: 0;
            }
        }
        &__info {
            background-color: $dark;
            padding: 2rem;
            min-height: 14rem;
            transition: background-color .3s ease;
            @media (max-width: $sw-xs-max) {
                padding: 1.5rem 1rem;
                min-height: auto;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3; 
                -webkit-box-orient: vertical;
                margin-bottom: 0;
                transition: color .3s ease;
            }
            &__top {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 1rem;
            }
            .icon-logo {
                font-size: 3rem;
                color: $white;
                margin-right: 2rem;
            }
            &__date,
            &__time {
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $white;
            }
            &__date {
                margin-right: 1rem;
            }
        }
    }
    &-detail {
        margin-bottom: 5rem;
        .news-modal {
            &__inner {
                height: auto;
                max-width: none;
                @media (max-width: $sw-md-max) {
                    display: block;
                }
            }
            &__top {
                position: relative;
                top: initial;
                width: 100%;
                margin-left: 0;
                padding: 2rem 0 0 0;
                @media (max-width: $sw-xx-max) {
                    padding: 0;
                }
            }
            &__thumb {
                @media (max-width: 1349px) {
                    width: 40rem;
                }
                @media (max-width: $sw-md-max) {
                    width: 100%;
                    height: auto;
                    max-height: 40rem;
                    max-width: none;
                }
            }
            &__side {
                @media (max-width: $sw-xx-max) {
                    padding: 1rem;
                }
            }
        }
    }
}


// pagination
.pagination {
    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid $white;
        color: $white;
        font-size: 1.6rem;
        transition: border-color .3s ease, color .3s ease;
        margin: 0 6px;
        @media (max-width: $sw-xx-max) {
            margin: 0 4px;
        }
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $dark;
                border-color: $dark;
            }
        }
        .icon {
            font-size: 1.2rem;
        }
        &--prev {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
    &-divider {
        width: 3rem;
        height: 3rem;
        color: $white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 1.6rem;
    }
}