mixin news(data)
	.news
		+news-item()
		+news-item()

mixin news-list(data)
	.news
		+news-item()
		+news-item()
		.short-news__col
			a.short-news__item(href="javascript:void(0)", data-toggle="modal" data-target="#news_modal")
				.short-news__item__top
					+svg('icon-logo')
					.short-news__item__date
						span 26 лют 14:26
					.hash-item
						span #шпіонське
				p У РНБО повідомили, що Україна «потужно» готується до настання Росії
		.short-news__col
			a.short-news__item(href="javascript:void(0)", data-toggle="modal" data-target="#news_modal")
				.short-news__item__top
					+svg('icon-logo')
					.short-news__item__date
						span 26 лют 14:26
					.hash-item
						span #шпіонське
				p У РНБО повідомили, що Україна «потужно» готується до настання Росії
		.short-news__col
			a.short-news__item(href="javascript:void(0)", data-toggle="modal" data-target="#news_modal")
				.short-news__item__top
					+svg('icon-logo')
					.short-news__item__date
						span 26 лют 14:26
					.hash-item
						span #шпіонське
				p У РНБО повідомили, що Україна «потужно» готується до настання Росії
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+pagination()

mixin news-item(data)
	.news__col
		a.news-card(href="javascript:void(0)", data-toggle="modal" data-target="#news_modal")
			.news-card__image.h-object-fit
				img(src="s/images/useful/img2.jpg", alt="image")
				.news-card__hash
					.hash-item.hash-item--dark 
						span #перемоги
			.news-card__info
				.news-card__info__top
					+svg('icon-logo')
					.news-card__info__date
						span 26 лют 14:26
				p У РНБО повідомили, що Україна «потужно» готується до настання Росії

mixin pagination(data)
	.pagination-wrapper
		a.pagination-item.pagination-item--prev(href="javascript:void(0)")
			+svg('icon-chevron') 
		a.pagination-item(href="javascript:void(0)") 1 
		a.pagination-item(href="javascript:void(0)") 2 
		a.pagination-item(href="javascript:void(0)") 3 
		.pagination-divider ... 
		a.pagination-item(href="javascript:void(0)") 10 
		a.pagination-item.pagination-item--next(href="javascript:void(0)")
			+svg('icon-chevron') 


mixin news-detail(data)
	.news-detail
		.news-modal__inner
			.news-modal__thumb(style="background-image: url('s/images/useful/modal-image.png')")
				img(src="s/images/useful/modal-image.png", alt="image")
			.news-modal__side
				.news-modal__top
					+svg('icon-logo')
					.news-modal__top__date
						span 26 лют 14:26
				p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
				p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
				p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
				p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
				p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
				p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
				p З початку російського нападу на Україну загинули 352 цивільних, 14 з них — діти. Поранення отримали 1684 людини, серед яких 116 — діти.
				.news-modal__hash
					a.hash-item(href="javascript:void(0)") #перемоги