//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/modals/modals

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			block header
				+header()
			main.main-content
				.main-content__side
					.main-content__side__inner
						span Слава Україні!
				.main-content__inner
					.container
						block content
				.main-content__side
					.main-content__side__inner
						a(href="javascript:void(0)") Кошти на армію
			block footer
				+footer()
		block beforescripts
			+news-modal()
		script(src=route.js + "main.js")