.counter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
    &__col {
        width: 25%;
        margin-bottom: 4rem;
        padding: 0 1rem;
        @media (max-width: $sw-sm-max) {
            width: 50%;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3rem;
        }
    }
    &__item {
        width: 100%;
        &__title {
            font-weight: 600;
            font-size: 4rem;
            line-height: 1em;
            color: $white;
            @media (max-width: $sw-md-max) {
                font-size: 3.6rem;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 4rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 3.4rem;
            }
        }
        &__val {
            font-size: 1.4rem;
            line-height: 1.4em;
            font-weight: 600;
            color: $white;
        }
    }
}