mixin counter(data)
	.counter
		.counter__col
			.counter__item
				.counter__item__title
					span 5710
				.counter__item__val
					span загиблих армії РФ
		.counter__col
			.counter__item
				.counter__item__title
					span 200
				.counter__item__val
					span полонених армії РФ
		.counter__col
			.counter__item
				.counter__item__title
					span 536
				.counter__item__val
					span знишкодженої техніки
		.counter__col
			.counter__item
				.counter__item__title
					span 45 млн
				.counter__item__val
					span українців під агресією