.footer {
    padding-top: 10rem;
    padding-bottom: 21.5rem;
    @media (max-width: $sw-sm-max) {
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
    @media (max-width: $sw-xs-max) {
        padding-top: 2rem;
        padding-bottom: 7rem;
    }
    &__logo {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 2rem auto;
    }
    &__text {
        margin-bottom: 2rem;
        text-align: center;
        p {
            margin-bottom: 0;
            font-size: 2.4rem;
            line-height: 1em;
            color: $white;
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
            }
        }
    }
    &__action {
        display: flex;
        justify-content: center;
        button, a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            line-height: 1.4em;
            color: $white;
            transition: color .3s ease;
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    color: $dark;
                }
            }
            span {
                text-decoration: underline;
                text-underline-position: under;
            }
            .icon-arrow {
                font-size: 2.7rem;
                margin-left: 1.1rem;
                flex-shrink: 0;
                @media (max-width: $sw-xx-max) {
                    font-size: 2.2rem;
                }
            }
        }
    }
}