mixin footer()
	footer.footer
		.container
			.footer__inner
				.footer__logo
					img(src="s/images/useful/stickerpack-nahui.gif", alt="gif")
				.footer__text
					p зупиніть це, покажіть дійсність усім близьким
				.footer__action
					button(type="button")
						span завантажити Телеграм стікери
						+svg('icon-arrow')