.support-army {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    @media (max-width: $sw-sm-max) {
        margin-left: -5px;
        margin-right: -5px;
    }
    @media (max-width: $sw-xs-max) {
        margin-left: 0;
        margin-right: 0;
    }
    &__col {
        margin-bottom: 2rem;
        padding: 0 1rem;
        width: 50%;
        @media (max-width: $sw-sm-max) {
            padding: 0 5px;
            margin-bottom: 1rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 0;
            width: 100%;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        display: block;
        background-color: $dark;
        transition: background-color .3s ease;
        padding: 3rem 2rem;
        @media (max-width: $sw-sm-max) {
            padding: 2rem 1.5rem;
        }
        &:hover {
            @media (min-width: $sw-md-min) {
                background-color: $white;
            }
            .support-army__item__name,
            .icon-logo,
            .icon-link,
            .icon-copy {
                @media (min-width: $sw-md-min) {
                    color: $dark;
                }
            }
            p {
                @media (min-width: $sw-md-min) {
                    color: rgba($dark, 0.5);
                }
            }
        }
        p {
            font-size: 1.6rem;
            line-height: 1.25em;
            color: rgba($white, 0.5);
            padding-left: 4rem;
            transition: color .3s ease;
            margin-bottom: 0;
            word-break: break-all;
            @media (max-width: $sw-sm-max) {
                padding-left: 3.5rem;
            }
        }
        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        &__name {
            flex-grow: 1;
            font-size: 2rem;
            line-height: 1.5em;
            color: $white;
            transition: color .3s ease;
            margin-right: 2rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
            }
        }
        .icon-logo {
            font-size: 3rem;
            flex-shrink: 0;
            margin-right: 2.2rem;
            transition: color .3s ease;
            color: $white;
            @media (max-width: $sw-sm-max) {
                margin-right: 1.7rem;
            }
        }
        .icon-link, 
        .icon-copy {
            font-size: 3rem;
            flex-shrink: 0;
            margin-left: auto;
            color: $white;
            transition: color .3s ease;
            @media (max-width: $sw-sm-max) {
                font-size: 2.6rem;
            }
        }
    }
}