mixin support-army(data)
	.support-army
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span Фонд «Повернись живим»
					+svg('icon-link')
				p https://savelife.in.ua/donate/ 
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span Дія
					+svg('icon-link')
				p https://t.me/diia_gov/1829
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span IT Army
					+svg('icon-link')
				p https://t.me/itarmyofukraine2022
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span єПідтримка від portmone
					+svg('icon-link')
				p https://portmone.com.ua/
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span Спецрахунок Нацбанку
					+svg('icon-link')
				p https://bank.gov.ua/
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span Приват24
				p Зокрема з рахунку Бонус+
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span Альфа-Банк
				p У застосунку Sense вибираєте Перекази/Платежі — Допомога ЗСУ
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span monobank
				p У застосунку можна перерахувати кошти, натиснувши Інші платежі — Благодійність — Підтримка армії або фонду «‎Повернись живим»
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span BTC
					+svg('icon-copy')
				p 357a3So9CbsNfBBgFYACGvxxS6tMaDoa1P
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span TRX and USDT (trc20)
					+svg('icon-copy')
				p TEFccmfQ38cZS1DTZVhsxKVDckA8Y6VfCy
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span ETH and USDT (erc20)
					+svg('icon-copy')
				p 0x165CD37b4C644C2921454429E7F9358d18A45e14
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span DOT
					+svg('icon-copy')
				p 1x8aa2N2Ar9SQweJv9vsuZn3WYDHu7gMQu1RePjZuBe33Hv
		.support-army__col
			a.support-army__item(href="javascript:void(0)")
				.support-army__item__top
					+svg('icon-logo')
					.support-army__item__name
						span SOL address
					+svg('icon-copy')
				p 66pJhhESDjdeBBDdkKmxYYd7q6GUggYPWjxpMKNX39KV