extends _includes/_extends/main

include _includes/components/support-army/support-army

block head
	+head({'title':'Army'})

block header
	+header({
		list: [
			{name: 'новини', class: ''},
			{name: 'перемоги', class: ''},
			{name: 'шпіоньске', class: ''},
			{name: 'фото та відео', class: ''},
			{name: 'підтримати армію', class: 'is-active'}
		]
	})

block content
	+support-army()