extends _includes/_extends/main

include _includes/components/top-section/top-section
include _includes/components/notify/notify
include _includes/components/short-news/short-news
include _includes/components/news/news
include _includes/components/hashtags/hashtags
include _includes/components/counter/counter
include _includes/components/media/media

block head
	+head({'title':'Main'})

block header
	+header({
		list: [
			{name: 'новини', class: ''},
			{name: 'перемоги', class: ''},
			{name: 'шпіоньске', class: ''},
			{name: 'фото та відео', class: ''},
			{name: 'підтримати армію', class: ''}
		]
	})

block content
	+top-section()
	+notify()
	+short-news()
	+news()
	+hashtags()
	+counter()
	+media()