extends _includes/_extends/main

include _includes/components/media/media

block head
	+head({'title':'Media'})

block header
	+header({
		list: [
			{name: 'новини', class: ''},
			{name: 'перемоги', class: ''},
			{name: 'шпіоньске', class: ''},
			{name: 'фото та відео', class: ''},
			{name: 'підтримати армію', class: 'is-active'}
		]
	})

block content
	+media-grid()