extends _includes/_extends/main

include _includes/components/news/news

block head
	+head({'title':'News detail'})

block header
	+header({
		list: [
			{name: 'новини', class: 'is-active'},
			{name: 'перемоги', class: ''},
			{name: 'шпіоньске', class: ''},
			{name: 'фото та відео', class: ''},
			{name: 'підтримати армію', class: ''}
		]
	})

block content
	+news-detail()