extends _includes/_extends/main

include _includes/components/short-news/short-news

block head
	+head({'title':'Short News'})

block header
	+header({
		list: [
			{name: 'новини', class: 'is-active'},
			{name: 'перемоги', class: ''},
			{name: 'шпіоньске', class: ''},
			{name: 'фото та відео', class: ''},
			{name: 'підтримати армію', class: ''}
		]
	})

block content
	+short-news-list()