button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    font-size: 2.4rem;
    line-height: 1em;
    height: 4rem;
    padding: 0 2rem;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    @media (max-width: $sw-md-max) {
        font-size: 2.2rem;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    .icon {
        flex-shrink: 0;
        margin-right: 1rem;
        font-size: 3rem;
        @media (max-width: $sw-md-max) {
            font-size: 2.8rem;
        }
    }
    span {
        text-decoration: underline;
    }
    &.is-rotating {
        .icon {
            animation: rotating 1.5s linear infinite;
        }
    }
    &.is-hidden {
        display: none;
    }
    &--white {
        background-color: transparent;
        color: $white !important;
        border: 1px solid $white;
        height: 6rem;
        &:hover {
            @media (min-width: $sw-sm-min) {
                background-color: $white;
                color: $red !important;
            }
        }
        &:active {
            @media (min-width: $sw-sm-min) {
                background-color: $white;
                color: $red !important;
            }
        }
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}