.notify {
    background-color: $white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    transition: background-color .3s ease;
    &:hover {
        @media (min-width: $sw-sm-min) {
            background-color: darken($white, 10%);
        }
    }
    .limitation-box {
        margin-right: 2rem;
        @media (max-width: $sw-xs-max) {
            margin-right: 1rem;
        }
    }
    p {
        margin-bottom: 0;
        margin-right: 1.5rem;
        font-size: 2.4rem;
        line-height: 1em;
        color: $dark;
        @media (max-width: $sw-md-max) {
            font-size: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 1.8rem;
        }
    }
    .icon-arrow {
        font-size: 2.7rem;
        flex-shrink: 0;
        color: $dark;
        margin-left: auto;
    }
}