mixin news-modal(data)
	.fade.modal.news-modal(tabindex='-1' role='dialog' data-keyboard="false" aria-hidden='true' data-backdrop="static" id='news_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.header__logo
				+svg('icon-logo')
				span huilo #[br] info
			.modal-content
				.news-modal__inner
					.news-modal__thumb(style="background-image: url('s/images/useful/modal-image.png')")
						img(src="s/images/useful/modal-image.png", alt="image")
					.news-modal__side.h-scrollbar
						.news-modal__top
							+svg('icon-logo')
							.news-modal__top__date
								span 26 лют 14:26
							button.news-modal__close(type="button", data-dismiss="modal")
								+svg('icon-close-squared')
						p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
						p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
						p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
						p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
						p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
						p Росіяни розбомбили літак "Мрія". ЗСУ і тероборона відтіснили військових від столиці, а на Чернігівщині люди без зброї в руках зупинили танки РФ. Водночас тривають ракетні обстріли, війська РФ застосували "Іскандери".
						p З початку російського нападу на Україну загинули 352 цивільних, 14 з них — діти. Поранення отримали 1684 людини, серед яких 116 — діти.
						.news-modal__hash
							a.hash-item(href="javascript:void(0)") #перемоги