.modal {
    min-width: 320px;
    z-index: 2000;
    @media (min-width: $sw-md-min) {
        overflow: hidden !important;
    }
    @media (max-width: $sw-xs-max) {
        padding-left: 0 !important;
    }
    .modal-active & {
        @media (max-width: $sw-sm-max) {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}

.modal-dialog {
    max-width: none;
    position: relative;
    @media (min-width: $sw-xs-min) {
        min-height: auto;
    }
    .header__logo {
        position: absolute;
        left: 5rem;
        top: 5rem;
        @media (max-width: $sw-md-max) {
            left: 2rem;
            top: 2rem;
        }
        @media (max-width: $sw-sm-max) {
            display: none;
        }
    }
}

.modal-backdrop {
    background-color: $dark;
    &.show {
        opacity: 0.8;
    }
}

.modal-content {
    background-color: transparent;
    border: none;
    padding: 0 5px;
}

.news-modal {
    &__inner {
        width: 100%;
        max-width: 94rem;
        margin: 0 auto;
        display: flex;
        background-color: $dark;
        height: 46rem;
        @media (max-width: $sw-sm-max) {
            display: block;
            max-width: 46rem;
            height: auto;
        }
    }

    &__thumb {
        width: 46rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        @media (max-width: $sw-sm-max) {
            width: 100%;
            max-width: 46rem;
            flex-shrink: initial;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            backdrop-filter: blur(10px);
        }
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            position: relative;
            z-index: 2;
        }
    }
    &__side {
        padding: 0 2rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;
        p {
            font-size: 1.8rem;
            line-height: 1.35em;
            color: $white;
            margin-bottom: 2rem;
        }
    }
    &__close {
        margin-left: auto;
        color: $white;
        flex-shrink: 0;
        transition: color .3s ease;
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $red;
            }
        }
        .icon {
            font-size: 3rem;
        }
    }
    &__top {
        width: calc(100% + 4rem);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        margin-left: -2rem;
        position: sticky;
        top: 0;
        padding: 2rem 2rem 1rem 2rem;
        background-color: $dark;
        &__date,
        &__time {
            font-size: 1.4rem;
            line-height: 1.4em;
            color: $white;
            margin-right: 1rem;
        }
        .icon-logo {
            font-size: 3rem;
            color: $white;
            flex-shrink: 0;
            margin-right: 2rem;
        }
    }
    &__hash {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .hash-item {
            height: 3rem;
        }
    }
}