mixin header(data)
	header.header.js-header
		.container
			.header__inner
				a.header__logo(href="javascript:void(0)")
					+svg('icon-logo')
					span huilo #[br] info
				.header__menu
					button.menu-trigger.js-menu-close(type="button")
						+svg('icon-close')
					ul.header__list.h-reset-list
						each item in data.list
							li.header__list__item(class='' + item.classs ? item.class : null)
								a(href="javascript:void(0)")!= item.name
						li.header__list__item.header__list__item--hidden
							a(href="javascript:void(0)") Кошти на армію
				.header__lang
					a(href="javascript:void(0)") ру 
					a(href="javascript:void(0)") en 
					a.is-active(href="javascript:void(0)") укр 
				button.menu-trigger.js-menu-open(type="button")
					+svg('icon-burger')