.header {
    background: linear-gradient(180deg, #D81511 0%, #D81511 68.08%, rgba(216, 21, 17, 0) 100%);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    .container {
        width: 100%;
        max-width: 1330px;
    }
    
    &__inner {
        height: 16rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-md-max) {
            height: 12rem;
        }
        @media (max-width: $sw-sm-max) {
            height: 10rem;
        }
        @media (max-width: $sw-xs-max) {
            height: 8rem;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        line-height: 1em;
        color: $white;
        margin-right: 4.7rem;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            font-size: 2.4rem;
            margin-right: 3rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 2rem;
            margin-right: 2rem;
        }
        .icon-logo {
            font-size: 8rem;
            color: $white;
            margin-right: 1.1rem;
            @media (max-width: $sw-md-max) {
                font-size: 6rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 5rem;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__item {
            &:not(:last-child) {
                margin-right: 4rem;
                @media (max-width: 1349px) {
                    margin-right: 2.8rem;
                }
                @media (max-width: $sw-md-max) {
                    margin-right: 2.1rem;
                }
                @media (max-width: $sw-sm-max) {
                    margin-right: 0;
                    margin-bottom: 3rem;
                }
            }
            &.is-active {
                a {
                    color: $dark;
                }
            }
            &--hidden {
                display: none;
                @media (max-width: $sw-sm-max) {
                    display: block;
                    margin-top: 1rem;
                }
                a {
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.6rem !important;
                        text-decoration: underline;
                        text-underline-offset: under;
                    }
                }
            }
        }
        a {
            font-size: 2rem;
            line-height: 1em;
            color: $white;
            @media (max-width: $sw-md-max) {
                font-size: 1.7rem;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 2.2rem;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    color: $dark;
                }
            }
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            margin-left: auto;
            margin-right: 3rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 2rem;
        }
        a {
            font-size: 2rem;
            line-height: 1em;
            color: $white;
            @media (max-width: $sw-md-max) {
                font-size: 1.8rem;
            }
            &:not(.is-active):hover {
                @media (min-width: $sw-sm-min) {
                    color: $dark;
                }
            }
            &.is-active {
                color: $dark;
            }
            &:not(:last-child) {
                margin-right: 2rem;
                @media (max-width: $sw-xs-max) {
                    margin-right: 1.4rem;
                }
            }
        }
    }

    &__menu {
        margin-right: auto;
        z-index: 20;
        @media (max-width: $sw-sm-max) {
            margin-right: initial;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $red;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transform: scale(0.95);
            visibility: hidden;
            transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s, visibility cubic-bezier(.77,0,.175,1) 0.5s;
        }
        .menu-trigger {
            position: absolute;
            top: 2.5rem;
            right: 1.5rem;
            @media (max-width: $sw-xs-max) {
                top: 1.5rem;
            }
        }
        .menu-opened & {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
            transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s;
        }
    }
}

.menu-trigger {
    display: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $red;
    overflow: hidden;
    @media (max-width: $sw-sm-max) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon {
        font-size: 5rem;
        position: relative;
        z-index: 4;
        color: $dark;
    }
}