.media {
    margin-bottom: 10rem;
    @media (max-width: $sw-xs-max) {
        margin-bottom: 6rem;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        @media (max-width: $sw-md-max) {
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: 1rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__col {
        width: calc(100% / 3);
        padding: 0 1rem;
        margin-bottom: 2rem;
        @media (max-width: $sw-md-max) {
            padding: 0 5px;
            margin-bottom: 1rem;
            width: 50%;
        }
        @media (max-width: $sw-xs-max) {
            width: 100%;
            padding: 0;
        }
    }
    &__item {
        display: flex;
        position: relative;
        width: 100%;
        overflow: hidden;
        &.is-opened {
            img {
                filter: none;
            }
        }
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            filter: blur(12px);
            transition: filter .1s ease;
        }
        &__overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 3rem 1rem 1rem 1rem;
            z-index: 1;
            background: rgba(1, 1, 1, 0.2);
            opacity: 1;
            visibility: visible;
            transition: opacity .3s ease, visibility .3s ease;
            @media (max-width: $sw-sm-max) {
                padding: 2rem 8px 8px 8px;
            }
            .is-opened & {
                opacity: 0;
                visibility: hidden;
            }
            &__icon {
                margin-bottom: 2.6rem;
                display: flex;
                justify-content: center;
                .icon {
                    font-size: 2.8rem;
                    color: $white;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.6rem;
                    }
                }
            }
            &__text {
                margin-bottom: 3.5rem;
                text-align: center;
                p {
                    margin-bottom: 0;
                    font-size: 1.6rem;
                    line-height: 1.25em;
                    color: $white;
                }
            }
            &__action {
                display: flex;
                justify-content: center;
                button, a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;
                    line-height: 1.25em;
                    color: $white;
                    transition: color .3s ease;
                    &:hover {
                        @media (min-width: $sw-sm-min) {
                            color: $dark;
                            text-decoration-color: $dark;
                        }
                        span:after {
                            @media (min-width: $sw-sm-min) {
                                background-color: $dark;
                            }
                        }
                    }
                    span {
                        position: relative;
                        &:after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: $white;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            transition: background-color .3s ease;
                        }
                    }
                    .icon {
                        font-size: 1.8rem;
                        margin-left: 1.1rem;
                        flex-shrink: 0;
                    }
                }
            }
        }
        .limitation-box {
            position: absolute;
            z-index: 2;
            top: 1rem;
            left: 1rem;
        }
    }
    &__load-more {
        width: 100%;
        display: flex;
        justify-content: center;
        .btn {
            width: 100%;
            max-width: 30rem;
            @media (max-width: $sw-md-max) {
                max-width: 27.5rem;
            }
            @media (max-width: $sw-xs-max) {
                max-width: 29rem;
            }
        }
    }
}

.media-grid {
    column-count: 3;
    column-gap: 2rem;
    margin-bottom: 5rem;
    @media (max-width: $sw-md-max) {
        column-gap: 1rem;
        margin-bottom: 4rem;
    }
    @media (max-width: $sw-xs-max) {
        column-count: 2;
        margin-bottom: 3rem;
    }
    @media (max-width: $sw-xx-max) {
        column-count: initial;
        width: 100%;
        max-width: 30rem;
        margin: 0 auto 3rem auto;
    }
    &__col {
        margin-bottom: 2rem;
        display: inline-flex;
        width: 100%;
        vertical-align: top;
        @media (max-width: $sw-md-max) {
            margin-bottom: 1rem;
        }
    }
}