mixin media(data)
	.media
		.media__inner
			.media__col
				a.media__item(href="javascript:void(0)")
					img(src="s/images/useful/media1.png", alt="image")
					.media__item__overlay
						.limitation-box
							span 18+
						.media__item__overlay__icon
							+svg('icon-show')
						.media__item__overlay__text
							p це жорстока реальність, #[br] готові побачити?
						.media__item__overlay__action
							button.js-hide-overlay(type="button")
								span хочу правду
								+svg('icon-arrow-dark')
			.media__col
				a.media__item(href="javascript:void(0)")
					img(src="s/images/useful/media2.png", alt="image")
					.media__item__overlay
						.limitation-box
							span 18+
						.media__item__overlay__icon
							+svg('icon-show')
						.media__item__overlay__text
							p це жорстока реальність, #[br] готові побачити?
						.media__item__overlay__action
							button.js-hide-overlay(type="button")
								span хочу правду
								+svg('icon-arrow-dark')
			.media__col
				a.media__item(href="javascript:void(0)")
					img(src="s/images/useful/media3.png", alt="image")
					.media__item__overlay
						.limitation-box
							span 18+
						.media__item__overlay__icon
							+svg('icon-show')
						.media__item__overlay__text
							p це жорстока реальність, #[br] готові побачити?
						.media__item__overlay__action
							button.js-hide-overlay(type="button")
								span хочу правду
								+svg('icon-arrow-dark')
		.media__load-more
			button.btn.btn--white.js-load-more-images(type="button")
				+svg('icon-loader')
				span показати ще

mixin media-grid(data)
	.media-grid
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media1.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media4.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media2.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media5.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media3.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media6.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media1.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media4.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media2.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media5.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media3.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')
		.media-grid__col
			a.media__item(href="javascript:void(0)")
				img(src="s/images/useful/media/media6.png", alt="image")
				.media__item__overlay
					.limitation-box
						span 18+
					.media__item__overlay__icon
						+svg('icon-show')
					.media__item__overlay__text
						p це жорстока реальність, #[br] готові побачити?
					.media__item__overlay__action
						button.js-hide-overlay(type="button")
							span хочу правду
							+svg('icon-arrow-dark')