@import "./resets";
@import "./main";
@import "./object-fit";

.h-scrollbar {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: $white $dark;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        min-height: auto;
    }
    &::-webkit-scrollbar-track {
        background-color: $dark;
    }
}