.form-control {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 1em;
    color: $black;
    font-weight: 200;
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
        @include placeholder {
            opacity: 0;
        }
    }
    @include placeholder {
        font-weight: 200;
        opacity: 1;
        transition: opacity .3s ease;
        font-size: 1.6rem;
        line-height: 1em;
        color: $black;
    }
}