

$white:    #fff;
$black:    #000;
$red:      #D81511;
$dark:     #010101;

$body-bg:                   $dark;
$body-color:                $black;

$link-color:                              initial;
$link-decoration:                         none;
$link-hover-color:                        none;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 576px;
$sw-sm-min: 768px;
$sw-md-min: 992px;
$sw-lg-min: 1200px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 720px,
  md: 720px,
  lg: 970px,
  xl: 970px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$vsans: 'VinnytsiaSans', sans-serif;
$vcity: 'VinnytsiaCity', sans-serif;
$vserif: 'VinnytsiaSerif', sans-serif;

$font-family-sans-serif:      $vsans;
$font-family-monospace:       $vsans;
$font-family-base:            $font-family-sans-serif;

