.hashtags {
    margin-bottom: 5rem;
    &__title {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.4em;
        color: $white;
        margin-bottom: 1rem;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}