mixin hashtags(data)
	.hashtags
		.hashtags__title
			span читайте ще
		.hashtags__inner
			a.hash-item.hash-item--lg(href="javascript:void(0)") #шпіонське
			a.hash-item.hash-item--lg(href="javascript:void(0)") #перемоги
			a.hash-item.hash-item--lg(href="javascript:void(0)") #втратиРФ
			a.hash-item.hash-item--lg(href="javascript:void(0)") #статистика
			a.hash-item.hash-item--lg(href="javascript:void(0)") #длягромадян